/* body {
	padding: 16px;
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.list-item {
	padding: 8px;
	border-width: 2px;
	border-style: dashed;
}

.list-item:nth-child(even) {
	border-color: tomato;
}

.list-item:nth-child(odd) {
	border-color: blueviolet;
}

.list-item:not(:last-child) {
	margin-bottom: 8px;
} */

/* ody {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register-form {
	display: flex;
	flex-direction: column;
}

.register-form input {
	margin-bottom: 16px;
	padding: 8px 12px;
}

.register-form button {
	padding: 12px;
} */
/* 
body {
	position: relative;
	margin: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	letter-spacing: 0.5px;

	margin: 0;
} */
/* 
input {
	width: 100%;
	max-width: 320px;
	padding: 8px;
	font: inherit;
	letter-spacing: inherit;
} */

/* button {
	display: inline-flex;
	padding: 4px;
	margin-right: 2px;
	margin-left: 2px;
} */

/* .modal-wrapper {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.modal {
	padding: 50px 25px;
	position: relative;
	min-height: 200px;
	min-width: 300px;
	background-color: white;
	box-shadow: 2px 2px 2px rgb(6, 2, 6);
	border-radius: 15px;
}

.hidden {
	display: none;
}

.close-button {
	position: absolute;
	top: 5px;
	right: 5px;

	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: blue;
	transition-property: background-color;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.close-button:hover {
	background-color: blueviolet;
}

.overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;
	opacity: 0.5;
	background-color: black;
}

#login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.submit {
	text-align: center;
}

.form-error {
	color: red;
} */
.button {
	position: relative;
	padding: 8px 16px;
	background: #009579;
	border: none;
	outline: none;
	border-radius: 2px;
	cursor: pointer;
}

.button--loading {
	position: relative;
}

.button--loading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}
